html, body {
	margin: 0;
}

body {
	background: #ece4da;
	margin: 0;
	padding: 0;

	font: 1em/1.5em 'Crimson Text', sans-serif;
	font-size: 23px;
	line-height: 35px;
	font-weight: 300;
	color: #444;
}

h1, h2, h3, h4 {
	line-height: 3.5rem;
}

h2, h3, h4 {
	margin: 45px 0 10px 0;
	color: #111;
}

a {
	color: #b57243;
}
	a:hover {
		color: inherit;
	}

.center {
	text-align: center;
}

.header {
	text-align: center;
	margin-bottom: 60px;
}
	.header h1 {
		margin: 45px 0;
	}

.logo img {
	width:  300px;
	height: auto;
}

.wrap {
	max-width: 700px;
	margin: 60px auto 30px auto;
	padding: 20px;
}

footer {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0.875em;
}

@media(max-width: 700px) {
	.wrap {
		margin: 10px auto;
	}	
}